# Mini Project

## Dataset 3 : The Movie Database APIs
Source : https://www.themoviedb.org/

Documentation : https://developers.themoviedb.org/3/getting-started/introduction

In [9]:
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
import requests # to make TMDB API calls
import locale # to format currency as USD
locale.setlocale( locale.LC_ALL, '' )

api_key = 'bd31d307e12fa2d62fda2130baec4357'

response = requests.get('https://api.themoviedb.org/3/discover/movie?api_key='+api_key+'&primary_release_year=2017&sort_by=revenue.desc')

highest_revenue = response.json() # store parsed json response
highest_revenue_films = highest_revenue['results']

# define column names for our new dataframe
columns = ['film', 'revenue']

# create dataframe with film and revenue columns
df = pd.DataFrame(columns=columns)

In [10]:
# for each of the highest revenue films make an api call for that specific movie to return the budget and revenue
for film in highest_revenue_films:
    print(film['title'])
    film_revenue = requests.get('https://api.themoviedb.org/3/movie/'+ str(film['id']) +'?api_key='+api_key+'&language=en-US')
    film_revenue = film_revenue.json()
    print(locale.currency(film_revenue['revenue'], grouping=True ))
    df.loc[len(df)]=[film['title'],film_revenue['revenue']] # store title and revenue in our dataframe

Star Wars: The Last Jedi
$1,332,539,889.00
Beauty and the Beast
$1,263,521,126.00
The Fate of the Furious
$1,238,764,765.00
Despicable Me 3
$1,031,552,585.00
Jumanji: Welcome to the Jungle
$962,102,237.00
Spider-Man: Homecoming
$880,166,924.00
Wolf Warrior 2
$870,322,670.00
Guardians of the Galaxy Vol. 2
$863,756,051.00
Thor: Ragnarok
$853,977,126.00
Wonder Woman
$821,847,012.00
Coco
$800,526,015.00
Pirates of the Caribbean: Dead Men Tell No Tales
$794,861,794.00
It
$701,796,444.00
Justice League
$657,924,295.00
Logan
$619,021,436.00
Transformers: The Last Knight
$605,425,157.00
Kong: Skull Island
$566,652,812.00
Dunkirk
$525,573,161.00
The Boss Baby
$498,814,908.00
War for the Planet of the Apes
$488,533,726.00

In [11]:
df.head()

                             film     revenue
0        Star Wars: The Last Jedi  1332539889
1            Beauty and the Beast  1263521126
2         The Fate of the Furious  1238764765
3                 Despicable Me 3  1031552585
4  Jumanji: Welcome to the Jungle   962102237

In [13]:
response = requests.get('https://api.themoviedb.org/3/discover/movie?api_key=' +  api_key + '&sort_by=revenue.desc')
highest_revenue_ever = response.json()
highest_revenue_films_ever = highest_revenue_ever['results']

columns = ['film', 'revenue', 'budget', 'release_date']
highest_revenue_ever_df = pd.DataFrame(columns=columns)

for film in highest_revenue_films_ever:

    film_revenue = requests.get('https://api.themoviedb.org/3/movie/'+ str(film['id']) +'?api_key='+ api_key+'&language=en-US')
    film_revenue = film_revenue.json()

    if film_revenue['budget'] > 281:
        # add film title, revenue, budget and release date to the dataframe
        highest_revenue_ever_df.loc[len(highest_revenue_ever_df)]=[film['title'],film_revenue['revenue'], (film_revenue['budget'] * -1), film_revenue['release_date']]

In [14]:
highest_revenue_ever_df.head()

                           film     revenue      budget release_date
0             Avengers: Endgame  2797800564  -356000000   2019-04-24
1                        Avatar  2787965087  -237000000   2009-12-10
2                       Titanic  2187463944  -200000000   1997-11-18
3  Star Wars: The Force Awakens  2068223624  -245000000   2015-12-15
4        Avengers: Infinity War  2046239637  -300000000   2018-04-25